@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    font-family: "Montserrat", sans-serif;
}

/* CSS for navbar */
li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    background-color: #24252A;
}

header {
    display: flex;
    align-items: center;
    padding: 30px 10%;
    justify-content: space-between;
    background-color: #24252A;
}

.logo {
    cursor: pointer;
    color:lightcyan;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9
}

/* CSS for information on the about page */
.info h1 {
    text-align: center;    
    padding: 30px;
}

.info p {
    text-align: center;
    width: 60%;
    margin: auto;
    padding-bottom: 40px;
}

.info button {
    margin: 0 auto;
    display: block;
    padding: 10px;
    transition: all 0.3s ease 0s;
}

.info button:hover{
    background-color: lightcyan;
    color: #0088a9;
    cursor: pointer;
}



/* CSS for the theme page */
.mainthemepics, .altthemepics 
{
    column-gap: 0px;
    text-align: center;
}

.imagediv {
    position: relative;
    margin: 5px auto;
    max-width: 400px;
    overflow:hidden;
}

.theimgs {
    opacity:0.9;
    transition: .3s ease-in-out;
    width: 100%;
}

/* have a cool zoom in effect on hover. Achieved used overflow:hidden on the img div so wouldn't overflow. Also set div's max dimension

.theimgs:hover {
    opacity: 1;
    transform: scale(1.1);
}

.imgdescript {
    display: none;
}

/* display the img caption on hover */
.imagediv:hover .imgdescript{
    display: inline;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 10px;
    text-align: center;
    max-width: 400px;
}


.imgdescripttext{ 
    color:white;
    background-color: rgba(0,0,0, 0.9);
}

/* CSS to resize the columns when the window is smaller */
@media (min-width: 1551px)
{
    .mainthemepics, .altthemepics 
    {
        column-count: 4;
    }
}
@media (min-width: 1220px) and (max-width: 1550px)
{
    .mainthemepics, .altthemepics 
    {
        column-count: 3;
    }
}
@media (min-width: 810px) and (max-width: 1219px)
{
    .mainthemepics, .altthemepics 
    {
        column-count: 2;
    }
    .nav_links {
        background-color: #24252A;
    }
}
@media (max-width: 809px)
{
    .mainthemepics, .altthemepics 
    {
        column-count: 1;
    }
    .nav_links {
        background-color: #24252A;
    }
}