{% extends "layout.html" %}

{% block title %}
Sketch Daily Webapp - About
{% endblock %}

{% block main %}
<div class = "info">
    <h1>Welcome to Sketch Daily Webapp!</h1>
    <p> 
        This is a little webapp to help me and other aspiring artists practice sketching daily.
        It scrapes data from the subreddit r/SketchDaily to find out the theme for the day.
        once it extracts the theme, the webapp will also display reference pictures from the website
        Unsplash so that the artist and just quickly go to drawing. There will also be a counterdown timer and 
        stopwatch feature if the artist would like to set a time limit for themselves or time
        their drawing, they'd be able to. 
    </p>
    <button onclick="location.href='/today'" type="button">
        Get started with today's theme!</button>
</div>
{% endblock %}