{% extends "layout.html" %}

{% block title %}
    Today's Themes
{% endblock %}

{% block main %}
<div class="timer">
    <h1>Timer</h1>
    <div class = "timerInner">
        <div class = "timerDigits">
            <span id = "digit5">0</span><span id = "digit4">0</span><span id = "digitH">h</span>
            <span id = "digit3">0</span><span id = "digit2">0</span><span id = "digitM">m</span>
            <span id = "digit1">0</span><span id = "digit0">0</span><span id="digitCursor">|</span><span id = "digitSec">s</span>
        </div>
        <input id= "timerInput"></input>
        <div class = "timerButtons">
            <button id = "timerReset">Reset</button>
            <button id = "timerStart">Start</button>
        </div>
    </div>
</div>
<div class="themediv">
    <div class="headings">
        <h1>Today's Date is : {{ today }}</h1>
        <h2>Today's theme is {{ maintheme }}.</h2>
        <div id = "mainRandomButton" class = "randomButton">
            <p>Get a random<br> main theme picture</p>
            <img src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/64/000000/external-random-interface-kiranshastry-lineal-kiranshastry.png"/>
        </div>
    </div>
    <div class = "enlargediv">
        <div id = "cover"></div>
        <img id = "closeButton" src = "https://lh3.googleusercontent.com/gupmqgL-ChT426pt51mxRwgXKxvq1gIYQ8uxLFYCOEtLOjdiNY1rlZ7Yb_0AnUNUkKZz4P2t9fuiBrouBF_SnWE1OhbU8P2vC7rDZizcAXf67_3YPvOjIYuvwUv3hxuZ3jOOkjRD=s200-p-k?source=screenshot.guru">
        <img id = "enlargedImg">
    </div>
    <div class="mainthemepics">
    </div>
    <div class="headings">
        <h2>If you don't like the main theme, there's an alternative theme! </h2>
        <p>Today's alternate theme is {{ alttheme }}</p>
        <div id = "altRandomButton" class = "randomButton">
            <p>Get a random <br> alternate theme picture</p>
            <img src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/64/000000/external-random-interface-kiranshastry-lineal-kiranshastry.png"/>
        </div>
    </div>
    <div class="altthemepics">
    </div>
</div>
<footer>
    <div>Icons made by <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</footer>
<script>
    // calling the functions that losad the pictures.
    try {
        loadPictures('{{ maintheme }}', true, '{{ upsplash_access }}');
    }
    catch(err) {
            console.error(error);
    }
    try {
        loadPictures('{{ alttheme }}', false, '{{ upsplash_access }}');
    }
    catch(error) {
        console.error(error);
    }
</script>
{% endblock %}