{% extends "layout.html" %}

{% block title %}
    Today's Themes
{% endblock %}

{% block main %}
<div class="themediv">
    <div class="headings">
        <h1>Today's Date is : {{ today }}</h1>
        <h2>Today's theme is {{ maintheme }}.</h2>
        <div id = "mainRandomButton" class = "randomButton">
            <p>Get a random<br> main theme picture</p>
            <img src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/64/000000/external-random-interface-kiranshastry-lineal-kiranshastry.png"/>
        </div>
    </div>
    <div class = "enlargediv">
        <div id = "cover"></div>
        <img id = "closeButton" src = "https://lh3.googleusercontent.com/gupmqgL-ChT426pt51mxRwgXKxvq1gIYQ8uxLFYCOEtLOjdiNY1rlZ7Yb_0AnUNUkKZz4P2t9fuiBrouBF_SnWE1OhbU8P2vC7rDZizcAXf67_3YPvOjIYuvwUv3hxuZ3jOOkjRD=s200-p-k?source=screenshot.guru">
        <img id = "enlargedImg">
    </div>
    <div class="mainthemepics">
    </div>
    <div class="headings">
        <h2>If you don't like the main theme, there's an alternative theme! </h2>
        <p>Today's alternate theme is {{ alttheme }}</p>
        <div id = "altRandomButton" class = "randomButton">
            <p>Get a random <br> alternate theme picture</p>
            <img src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/64/000000/external-random-interface-kiranshastry-lineal-kiranshastry.png"/>
        </div>
    </div>
    <div class="altthemepics">
    </div>
</div>
<script>
    // calling the functions that losad the pictures.
    try {
        console.log("tester");
        loadPictures('{{ maintheme }}', true, '{{ upsplash_access }}');
    }
    catch(err) {
            console.error(error);
    }
    try {
        console.log("test");
        loadPictures('{{ alttheme }}', false, '{{ upsplash_access }}');
    }
    catch(error) {
        console.error(error);
    }
</script>
{% endblock %}